body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN5_wC2r1LfTLHn_xLMT1haCgm_wJQQi3BcA&s);
    font-family: 'roboto' sans-serif;
    padding: 20px
}

body, h1, h2, p, ul, li, form, input, select, textarea, button {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
}


.menu-section {
    background: burlywood;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.menu-section header {
    text-align: center;
    margin-bottom: 20px;
}

.menu-section header h1 {
    font-size: 2em;
    color: #333;
}

.menu-section header p {
    color: #777;
}


.menu-category {
    margin-bottom: 20px;
}

.menu-category h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #333;
}

.menu-category ul {
    list-style: none;
    padding: 0;
}

.menu-category ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
}

.item-price {
    float: right;
    color: #333;
}


.feedback-section {
    background: burlywood;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.feedback-section header {
    text-align: center;
    margin-bottom: 20px;
}

.feedback-section header h1 {
    font-size: 2em;
    color: #333;
}

.feedback-section header p {
    color: #777;
}

.feedback-section form {
    display: flex;
    flex-direction: column;
}

.feedback-section label {
    margin-top: 10px;
    font-weight: bold;
}

.feedback-section input,
.feedback-section select,
.feedback-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.feedback-section button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.feedback-section button:hover {
    background-color: #0056b3;
}